<div class="main">
  <div class="jumbotron">

    <h1>TEAM SNG</h1>

    <p id="accueil">
      COMMUNAUTE MULTI-GAMING
    </p>

  </div>


  <div class="container">
    <div id="teamspeak">
      <iframe name="ts3monitor.com" allowtransparency="true" width="310" height="512" frameborder="0" style="border:0px solid #;" scrolling="auto" src="http://monitor.ts3monitor.com/?t=iframe&i=ts.synergiegaming.fr&p=9987&q=10011&c=&si=12&s=12"></iframe>

    </div>
  </div>
  
</div>
