<div class="main">
  <div class="jumbotron">

    <h1>TEAM SNG</h1>

    <p id="accueil">
      COMMUNAUTE MULTI-GAMING
    </p>

  </div>


  <div class="container">
    <div id="teamspeak"><h3 style="text-align:center;">Teamspeak</h3>
      <script type="text/javascript">
      <!--
      var ouvert = 1;
      var style = "classic";
      var couleur_fond = "FFFFFF";
      var couleur_texte = "666666";
      var largeur = 315;
      var hauteur = 400;
      var ip = "ts.synergiegaming.fr";
      var port = 9987;
      var query = 10011;
      var lang = "fr";
      var taille_police = 12;
      var voir_salons = 1;
      //-->
      </script>
      <script type="text/javascript" src="https://www.ts3-serveur.com/web_script/webscript_ts3.js"></script>

    </div>
  </div>


</div>
